body {
  background: url(images/Background-picture.jpg);
  height: 100vh;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;
}

.navbar-header img {
  height: 40px;
  width: 40px;
  margin-top: -10px;
}

.navbar-collapse {
  font-family: "Libre Baskerville", serif;
}
.navbar-collapse ul li:hover {
  border-bottom: 1px solid rgb(222, 225, 4);
}

.jumbotron {
  background: none;
  text-align: center;
  color: white;
  max-width: 800px;
  margin: 50px auto 0 auto;
}

.jumbotron h1 {
  font-family: "Libre Baskerville", serif;
}

.row {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item svg {
  width: 80px;
  height: 80px;
  color: rgb(254, 219, 65);
}

.item h2 {
  color: white;
  text-align: center;
  font-size: 27px;
  font-family: "Libre Baskerville", serif;
}

.item p {
  color: white;
  text-align: center;
  font-size: 15px;
  text-shadow: -2px -2px black;
  font-family: "Libre Baskerville", serif;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn {
  width: 200px;
  background-color: rgba(254, 219, 65, 0.7);
  border: none;
  padding: 5px;
  font-size: 16px;
  color: white;
  font-family: "Libre Baskerville", serif;
}

.btn:hover {
  background-color: rgb(254, 219, 65);
  color: white;
}

.btn.active {
  background-color: rgb(254, 219, 65);
  color: white;
}

.footer {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0px;
  width: 100vw;
  padding: 10px 20px 20px 10px;
  margin-left: -15px;
  margin-top: auto;
}

.footer p,
.footer a {
  color: white;
}
@media (max-width: 768px) {
  .jumbotron {
    max-width: 500px;
  }
  .row {
    width: 60%;
    margin: auto auto;
  }
  .item-container {
    flex-direction: column;
  }
  .btn-success {
    width: 150px;
    background-color: rgba(254, 219, 65, 0.9);
    font-size: 14px;
  }
  .footer {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: -650px;
    width: 100vw;
    padding: 10px 20px 20px 10px;
    margin-left: -15px;
  }
  .item {
    margin-bottom: 15px;
  }
  .item svg {
    width: 60px;
    height: 60px;
    color: rgb(254, 219, 65);
  }

  .item h2 {
    color: white;
    text-align: center;
    font-size: 24px;
  }

  .item p {
    color: white;
    text-align: center;
    font-size: 12px;
  }
  .footer {
    bottom: -350px;
  }
  .footer p,
  .footer a {
    font-size: 13px;
  }
}
